body{
    #background-image:url("assets/waterBackground.jpg");
    font-size:0px;
}
video{
    position:fixed;
    right:0;
    bottom:0;
    min-width:100%;
    min-height:100%;
    z-index:-100;
}
header{
    font-size:20px;
    text-align:center;
    width:100%;
    height:100px;
    background-color: rgba(150,184,200, .5);
    margin-bottom:20px;
}
#main{
    text-align:center;
}
#stats{
    font-size:20px;
    position:absolute;
    top:110px;
    left:10px;
    width:100px;
    opacity:.6;
    background-color:grey;
    border-radius:10%;
    padding:10px;
}
.movement{
    font-size:20px;
    position:absolute;
    top:415px;
    left:10px;
    width:100px;
    opacity:.6;
    background-color:black;
    border-radius:10%;
    padding:10px;
}
#board{
    /*transform:matrix3d(*/
            /*0.7462931356145064,	0.03112162796827562,	0,	0.00008060628538825709,*/
            /*-0.3582821306608857,	0.229288839252779,	0,	-0.0025796946021039167,*/
            /*0,	0,	1,	0,*/
            /*153,	140,	0,	1*/
    /*);*/
    /*UNLEASH THE BEAST
    transform:matrix3d(*/
            /*0.7462931356145064,	0,	0,	0,*/
            /*-0.22821306608857,	0.229288839252779,   0,	-0.001796946021039167,*/
            /*0,	0,	1,	0,*/
            /*160,	100,	0,	1*/
    /*);*/
    #width: 500px;
    #height: 500px;
    position:relative;
    /*BEAST
    right:150px;
    left is temp*/
    left:20px;
    bottom:10px;
    margin:auto;
    padding:20px;
    box-sizing:border-box;
    content-align:vertical;
    background-color: rgba(0,0,0,0);
}
.cardBack{
    vertical-align:middle;
    opacity:1;
    background-image:url('assets/0062-old-dark-wood-flooring-square-texture-seamless-hr.jpg');
    #background-color:saddlebrown;
    #background-repeat:no-repeat;
    background-size: contain;
    transition: background-image 1.5s;
    #font-size:0px;
    border-radius:5%;
}
.cardBack img{
    display:none;
}
.cardFront{

}
#board img{
    width:100%;
    height:100%;
    vertical-align:top;
}

#board *{
    vertical-align:top;
}

.cardFade{
    background-image:none;
    opacity:0;
}
.label{
    font-size:16px;
}
.value{
    font-size:12px;
}
.active{
    #position:absolute;
    background-image: url('assets/monkeyTest3.png'), url('assets/0062-old-dark-wood-flooring-square-texture-seamless-hr.jpg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    transition: background-image .5s;

}
.startingPosition{
    #position:absolute;
    background-image: url('assets/ironSquare3.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    transition: background-image .5s;
}

/*body > img{*/
    /*position:absolute;*/
    /*left:50%;*/
    /*top:50%;*/
/*}*/