body{
    #width:100%;
    height:100%;
    font-size:0px;
    min-width:400px;
    font-family: 'Indie Flower', cursive;
    background-image: url('assets/jungleBackground1.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    #background-position: center center;
    background-attachment: fixed;

}
.imageFront{
    box-sizing:border-box;
    border: solid 2px  rgba(16, 18, 20, 0.45);
}
header img{
   display:inline-block;
    width:90%;
}
header{
    display:block;
    text-align:center;
    width:40vw;
    #height:15vh;
    background-color: rgba(16, 18, 20, 0.85);
    border-style: ridge;
    border-color: #012840;
    border-width: 14px;
    border-radius:3%;
    min-width:200px;
    margin:auto;
}
header ul li{
    display:inline;
    font-size:2vw;
    list-style:none;
    margin: 5px 10px;
}
header ul{
    position:absolute;
    top:2vh;
    left:2vh;
}

hr {
    border: 0;
    border-top: 3px solid black;
    width: 100%;
    max-width: 300px;
    margin: 5px auto;

}

#main{
    text-align:center;
}
#stats{
    text-align:center;
    font-size:22px;
    position:absolute;
    border:ridge 10px darkgreen;
    top:50%;
    transform:translateY(-50%);
    left:4vh;
    width:100px;
    #opacity:.6;
    background-color: rgba(20, 20, 20, .6);
    border-radius:5%;
    padding:10px;
    color: #67b168;
}
#stats .value{
    background-color: #fefefe;
    min-width: 5px;
}
.movement{

    font-size:20px;
    position:absolute;
    right:4vw;
    bottom:50%;
    #left:50%;
    transform: translateY(50%);
    width:10vw;
    text-align:center;
    opacity:.75;
    background-color:black;
    border-radius:2%;
    padding:10px;
}
#board{

    /*VERSION Superman*/
    /*transform:matrix3d(*/
            /*0.7462931356145064,	0,	0,	0,*/
            /*-0.22821306608857,	0.229288839252779,   0,	-0.001796946021039167,*/
            /*0,	0,	1,	0,*/
            /*160,	100,	0,	1*/
    /*);*/
    pointer-events:none;
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:10px;
    box-sizing:border-box;

    background-color: rgba(0,0,0,0);
    min-width:500px;
}
.cardBack{
    vertical-align:middle;
    opacity:1;
    background-image:url('assets/cartoonWood1.jpg');
    #background-color:saddlebrown;
    #background-repeat:no-repeat;
    background-size: contain;
    transition: background-image 1.5s;
    #font-size:0px;
    border-radius:5%;
}
.cardBack img{
    display:none;
}
.cardFront{

}
#board img{
    width:100%;
    height:100%;
    vertical-align:top;
}

#board *{
    vertical-align:top;
}

.cardFade{
    background-image:none;
    opacity:0;
}
.label{
    font-size:18px;
}
.value{
    font-size:16px;
}
hr{
    margin:0;
}
.startingPosition{
    #position:absolute;
    background-image: url('assets/ironSquare3.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    transition: background-image .5s;
}

/*body > img{*/
    /*position:absolute;*/
    /*left:50%;*/
    /*top:50%;*/
/*}*/
#win, #lose{
    background: radial-gradient(rgb(24, 45, 105),  rgb(34, 39, 41));
    opacity:0.9;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    z-index:400;
    font-size:5vw;
    padding: 0px 15px;
    transistion: display 1.8s;
}

.monkey {

    position: absolute;
    width:100px;
    height:100px;
    transform: translate(-6%, -30%);
    transition: position .8ms;
}

 button {
    background-color: rgba(16, 18, 20, 0.8);
    border: solid 2px black;
    color: white;
     width:100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     font-family: 'Indie Flower', cursive;
    border-radius:3%;
}
 .falling{
     animation: falling 3s;
     animation-delay: .5s;
     animation-iteration-count: 1;

 }
@keyframes falling {
    from{

        transform:scale(1) translateY(0);
    }
    to{
        transform:scale(0) translateY(-30%);

    }
}

/*MODALS*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    font-size:2vw;
    text-align:center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#moveAlert{
    text-align:center;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:20vw;
    max-width:100px;
    font-size:1vw;
    border: 2px solid black;
    background-color: #fefefe;
    display:none;

}
.lives{
    position:absolute;
    display:inline-block;
    top:3.5vh;
    right:3.5vw;
    transition:display 1s;
}
.lives img{
    width:70px;
}